.tournament {
}


.no-tournaments {
    position: absolute;
    top: 30%;
    font-size:40px;
    left: 50%;
    color: white;
    transform: translate(-50%, -30%);
    padding: 10px;
    background-color: #282c34a5;
    border-radius: 20px;
    text-align: center;
}

.tournamentData {
  max-width: 600px;
  margin: auto;
  height: 100%;
} 

.teams {
  margin: 50px;
}


.page {
  display:  flex;
  flex-direction: column;

  justify-content: space-between;
}

