.tournament-date-day {

    color: rgb(44, 44, 91);
    font-family: "open sans";
    font-weight: bold;
    font-size: 24px;
  
}

.tournament-date {
  background-color: rgb(44, 44, 91);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;

}

.tournament-card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  margin: 20px;
  width: 300px;
  cursor: pointer; 
}

.tournament-card:hover {
  background-color: aliceblue;
}

.tournament-show-more {
  background-color: rgba(154, 154, 154, 0.178);
  padding: 8px;
  margin-top: 10px;
  border-radius: 20px;
  display: flex;
  font-size: 14px;
}

.tournament-arrow-right-icon {
  margin-top: 4px;
}

.tournament-show-more-text {
  flex: 1; 
  margin-top: 4px;
  text-align: center;
  font-weight: bold;
}

.tournament-delete {
  margin-top: 14px;
  margin-right: 7px;
  color: red;
  background-color: rgba(255, 0, 0, 0.147);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 4px;
 
}
