@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.divider-player-list {
    height: 1px;
    margin: 3px;
    border: rgba(28, 24, 24, 0.1);
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
}

.hard-divider {
    height: 1px;
    border: rgba(0, 0, 0, 0.5);
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
    margin-top: 20px;
}

.player-name {
    text-align: left;
    color: white;
    font-style: bold;
    
 
    font-family: "Open Sans Condensed";
}

.remove-player {
    font-style: italic;
    text-decoration: underline;
    margin-left: 5px;
    color: rgb(37, 40, 40);
}

.row {
    display: flex;
    justify-content: space-between;
}



.players-count {
    margin-left: 10px;
}