.table {
    margin: 50px;
    padding: 20px;
}
.footer {
    display: flex;
    font-family: "Open Sans Condensed";
    justify-content: space-between;
    margin-top: 10px;
}

.participants-join-button {
    background-color: #f2fff0;
    border-radius: 3px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    border: 1px solid  #adffae;
    color: #1dc44f;
    font-weight: bold;
    cursor: pointer; 
} .participants-join-button:hover {
    background-color: #dafad5;
}



.participants-lock-button {
    background-color: #f0f5ff;
    border-radius: 3px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    border: 1px solid  #adc6ff;
    color: #1d39c4;
    font-weight: bold;
    cursor: pointer;
}


.participants-lock-button:hover {
    background-color: #d0e1fe;
    border-radius: 3px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    border: 1px solid  #adc6ff;
    color: #1d39c4;
    font-weight: bold;
}


.participants-sort-button {
    background-color: rgba(255, 167, 53, 0.82);
    border-radius: 8px;
    margin-right: 10px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.participants-leave-button {
    background-color: #fff2e8;
    border-radius: 3px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 15px;
    color: #d4380d;
    padding-right: 15px;
    border: 1px solid #ffbb96;
    font-weight: bold;
    cursor: pointer;
}

.participants-leave-button:hover {
    background-color: #ffebe8;
    border-radius: 3px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 15px;
    color: #d4380d;
    padding-right: 15px;
    border: 1px solid #ffbb96;
    font-weight: bold;
    cursor: pointer;
}

.players-list-container {
    display: flex;
    margin: auto; 
}
.players-list-card {
    justify-content: 'space-between';
    width: 400px;
    margin: 40px;
}

.players-list-container-mobile {
    
}

.players-list-card-mobile {
    width: 300px;
    margin: 20px;
}

.tournament-data-title {
    display: block;
    margin: auto;
    width: fit-content;
    padding: 5px;
    color: white;
    font-size: 20px;
    text-decoration: underline;
}

.footer-card {
   margin-left: 40px; 
   margin-right: 40px;

}

.footer-card-divider {
    margin-left: 5px;
    margin-right: 5px;
    border: rgba(255, 255, 255, 0.5);
    border-width: 0px;
    border-right-width: 1px;
    border-style: solid;
}

