.table {
    margin: 50px;
    padding: 20px;
}
.footer {
    display: flex;
    font-family: "Open Sans Condensed";
    justify-content: space-between;
    margin-top: 10px;
}

.participants-join-button {
    background-color: rgba(65, 255, 90, 0.82);
    border-radius: 8px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-weight: bold;
}

.participants-lock-button {
    background-color: rgba(255, 167, 53, 0.82);
    border-radius: 8px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-weight: bold;
}

.participants-leave-button {
    background-color: rgba(255, 53, 63, 0.82);
    border-radius: 8px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-weight: bold;
}

.players-list-container {
    display: flex;
    margin: auto; 
}
.players-list-card {
    justify-content: 'space-between';
    width: 400px;
    margin: 40px;
}