@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.divider {
    height: 1px;
    margin: 3px;
    border: rgba(199, 199, 199, 0.5);
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
}

.hard-divider {
    height: 1px;
    border: rgba(0, 0, 0, 0.5);
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
    margin-top: 20px;
}



.row {
    display: flex;
    justify-content: space-between;
}



.players-count {
    margin-left: 10px;
}