.panel {
    background-color: rgb(29, 27, 27);
    color: white;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    display: flex;
}

.username {
    font-style: italic;
    padding-left: 10px;
    text-decoration: underline;
}