.App {
  text-align: center;
  display: flex;
  
}

.tournament {
  width: 300px;
}

.participants {
  width: 600px;
  margin: auto;
  height: 100%;
} 

.register {
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page {
  display:  flex;
  flex-direction: column;

  justify-content: space-between;
}

.no-tournaments {
  position: absolute;
  top: 30%;
  font-size:40px;
  left: 50%;
  color: white;
  transform: translate(-50%, -30%);
  padding: 10px;
  background-color: #282c34a5;
  border-radius: 20px;

}

.teams {
  margin: 20px
}

.footer-page {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.welcome {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
