.shirt-blue {
    color: rgb(0, 76, 255);
} 

.shirt-green {
    color: rgb(19, 85, 34);
} 

.shirt-orange {
    color: rgb(255, 183, 0);
} 



.group-header {
    display: flex;
}

.player-name {
    text-align: left;
    color: black;
    font-style: bold;
    font-family: "Open Sans Condensed";
}

 .shirt-icon {
     height: 24px;
     width: 24px;
 }
