.shirt-blue {
    color: rgb(0, 76, 255);
} 

.shirt-green {
    color: rgb(19, 85, 34);
} 

.shirt-orange {
    color: rgb(255, 183, 0);
} 

.shirt-white {
} 

.shirt-red {
    color: rgb(150, 4, 4);
} 

.shirt-yellow {
    color: rgb(255, 249, 64);
} 

.group-header {
    display: flex;
}

.group-player-name {
    text-align: left;
    color: black;
    font-style: bold;
    font-family: "Open Sans Condensed";
}

 .shirt-icon {
     height: 24px;
     width: 24px;
 }

 .move-to-group {
     margin-left: 4px;
     background-color: transparent;
     border-width: 1px;
     border-radius: 5px;
 }
 
 .move-to-group:hover {
     background-color: rgb(227, 227, 227);
 }

 .move-to-group:disabled {
    background-color: rgba(187, 187, 187, 0.243);
}

.row {
    display: flex;
}