
.group-desktop {
    width: 300px;
    margin: 20px;
}


.group-mobile {
    margin-top: 20px;
    
    background-color: red;

}

.teams-card-mobile {
}

.distribution-title{
    display: block;
    margin: auto;
    width: fit-content;
    padding: 15px;
    color: white;
    background-color: rgba(66, 66, 66, 0.454);
    font-size: 40px;
}

.group-Container {
    display: flex;
}

.group-Container-mobile {
    
}